.skill {
    margin: 50px;
}

.logo {
    border-radius: 100%;
}

.first {
    color: rgb(81, 236, 241);
}

.second {
    color: rgb(81, 217, 241);
}

.third {
    color: rgb(81, 204, 241);
}

.fourth {
    color: rgb(81, 177, 241);
}

.fifth {
    color: rgb(81, 156, 241);
}

.sixth {
    color: rgb(81, 132, 241);
}