.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  background-image: url("https://wallpapercave.com/wp/wp3284832.gif");
  background-repeat: repeat;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#main-content {
  text-align: left;
  min-height: 100vh;
  padding: 20px;
}

a:hover {
  cursor: pointer;
}
